/*Common Styles **/
body,html{ margin: 0; padding: 0;}
body{    font-family: sans-serif;	background-color: #e7e7e7; 	background-attachment: fixed;	background-size: 100% 100%;background-position: center;}
/*Heading*/
.nov-h1{text-align: center; font-size: 1.2em;   font-weight: bold;}
.nov-container{    width: 340px;    margin: 0 auto;}
.clearfix{clear: both!important; float: none!important; }
/*Common Styles End**/

/*Sign In Page Start*/
.logintitle{margin-top: 30px;}
.logoimg{text-align: center; margin-top: 15px;}
.loginformCointainer{ margin: 20px 0px; }
.signinTxt{ font-size: 1.2em; font-weight: bold;}
.username {position: relative; margin-top: 50px; }
.usrNmLbl{top: -35px !important;}
.username  label{	color: rgb(188,188,188) ; position: absolute; top: 0px;}
.username input[type=text]:focus:not([readonly])+label{    color: #2a3746;}
.username input[type=text]	{background: transparent; border-bottom: 1px solid #e7e7e7; border: 0; outline: 0; box-shadow: 0 1px 0 0 #2a3746; border-bottom: 1px solid #2a3746;	}
.password {position: relative; margin-top: 50px;}
.b-Line{	display: block;    width: 100%; line-height: 1.5; color: #000; border: 1px solid #ced4da;}
.paswrdLbl{top: -35px !important;}
.password  label{	color: rgb(188,188,188) ; position: absolute; top: 0px;}
.password input[type=text]:focus:not([readonly])+label{    color: #2a3746;}
.password input[type=text]	{background: transparent; border-bottom: 1px solid #e7e7e7; border: 0; outline: 0; box-shadow: 0 1px 0 0 #2a3746; border-bottom: 1px solid #2a3746;	}
.loginbutton{  width: 230px;    height: 40px;    margin: 40px auto;    background: #2a3746;   line-height: 2.2em;   color: #fff;
    border-radius: 7px; text-align: center}
.socialMediaicons{	text-align: center; margin-top: 20px; width: 290px}
.signInWithTxt{	margin-top: 5px; font-size: 12px; font-weight: bold; color: #000; text-align: center;}
.circle{border-radius: 50%;	margin: 0.15em;	font-size: 2em;}
.fa-facebook{ background: #fff; color: #000; padding: 0.05em 0.4em;font-size: 25px;}
.fa{font-style: Open Sans semi-bold;}
.fa-google-plus{  color: #000;  background: #fff;  padding: 0.1em 0.1em;  font-size: 25px;  }  
.fa-twitter{	background: #fff;	color: #000;  padding: 0.05em 0.04em;  font-size: 25px;	}
.register {  width: 230px;    height: 40px;    margin: 40px auto;    background: #2a3746;   line-height: 2.2em;   color: #fff;
    border-radius: 7px; text-align: center}
.frgtpwrd  {	color: #000; font-weight: bold; text-decoration: none; font-size: 0.9em; float: left; margin: 15px 0;}
.registernow{	color: #000; font-weight: bold; text-decoration: none; font-size: 0.9em; float: right; margin: 15px 0;}
.smicons{float: left}
/*Media Query*/

@media only screen and (max-width: 320px) and (min-width: 350px)  {

.nov-container{    width: 300px;   }

.usrNmLbl{color: #2a3746;}
	
}

}
/*Sign In Page End */

/* driver signup page strat*/

.logo{text-align: center; margin-top: 15px;}
.nov-login-container{ margin: 20px 0px; }
.heading{ font-size: 1.2em; font-weight: bold;}
.username{position: relative;}
.line{position: absolute;}
.signinbutton{  width: 230px;    height: 40px;    margin: 40px auto;    background: #2a3746;   line-height: 2.2em;   color: #e7e7e7;
    border-radius: 7px; text-align: center}
.usermobileno{position: relative; margin-top: 50px;}
.mblNoLbl{top: -35px !important;}
.usermobileno label{ color: rgb(188,188,188) ; position: absolute; top: 0px;}
.usermobileno input[type=text]:focus:not([readonly])+label{    color: #2a3746;}
.usermobileno input[type=text]	{background: transparent; border-bottom: 1px solid #e7e7e7; border: 0; outline: 0; box-shadow: 0 1px 0 0 #2a3746; border-bottom: 1px solid #2a3746;	}
.emailid{position: relative; margin-top: 50px;}
.emailLbl{top: -35px !important;}
.emailid label{color: rgb(188,188,188); position: absolute; top: 0px;}
.emailid input[type=text]:focus:not([readonly])+label{color: #2a3746;}
.emailid input[type=text] {background: transparent; border-bottom: 1px solid #e7e7e7; border: 0; outline: 0; box-shadow: 0 1px 0 0 #2a3746; border-bottom: 1px solid #2a3746;	}
.licensefile{margin-top: 40px;}
.chkboxtext{margin-top: 40px;}
.
/* driver signup page End*/

/*Sign Up Page Start*/

.register {  width: 230px;    height: 40px;    margin: 40px auto;    background: #2a3746;   line-height: 2.2em;   color: #fff;
    border-radius: 7px; text-align: center}


/*Sign Up Page End */

