/*Common Styles **/
body,html{ margin: 0; padding: 0;}
body{    font-family: sans-serif;	background-color: #e7e7e7; 	background-attachment: fixed;	background-size: 100% 100%;background-position: center;}
/*Heading*/
.nov-h1{text-align: center; font-size: 1.2em;   font-weight: bold;}
.nov-container{    width: 340px;    margin: 0 auto;}
.clearfix{clear: both!important; float: none!important; }
/*Common Styles End**/

/*Sign In Page Start*/
.logintitle{margin-top: 30px;}
.logoimg{text-align: center; margin-top: 15px;}
.loginformCointainer{ margin: 20px 0px; }
.signinTxt{ font-size: 1.2em; font-weight: bold;}
.username {position: relative; margin-top: 50px; }
.usrNmLbl{top: -35px !important; color: #2a3746 !important;  font-size: 0.80em !important;}
.username  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s;}
.username input[type=text]:focus~label,.username input[type=text]:focus:not([readonly])+label{    color: #2a3746;}
.username input[type=text]	{background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);}
.errormsg{ color: #e45555; font-size: 0.80em; padding-top: 5px;}
.password {position: relative; margin-top: 50px;}
.paswrdLbl{top: -35px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.password  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s;}
.password input[type=text]:focus:not([readonly])+label{    color: #2a3746;}
.password input[type=text]	{background: transparent; border: 0; outline: 0;  border-bottom: 1px solid rgb(188,188,188);	}
.b-Line{display: block;    width: 100%; line-height: 1.5; color: #000; border: 1px solid #ced4da;}
input:focus{border-bottom: 2px solid #2a3746 !important; font-size: 0.80em !important;}
.loginbutton{ text-align: center; width: 230px;    height: 40px;    margin: 40px auto;    background: #2a3746;   line-height: 2.2em;   color: #fff;
    border-radius: 7px; border: none;}
.socialMediaicons{ margin-top: 20px; width: 290px; margin-left: 115px;}
.signInWithTxt{ font-size: 12px; font-weight: bold; color: #000; text-align: center;}
.circle{border-radius: 50%;	margin: 0.15em;	font-size: 2em;}
.fa-facebook{ background: #fff; color: #000; padding: 0.05em 0.4em;font-size: 25px;}
.fa{font-style: Open Sans semi-bold;}
.fa-google-plus{  color: #000;  background: #fff;  padding: 0.1em 0.1em;  font-size: 25px;  }  
.fa-twitter{	background: #fff;	color: #000;  padding: 0.05em 0.04em;  font-size: 25px;	}
.frgtpwrd  {	color: #000; font-weight: bold; text-decoration: none; font-size: 0.9em; float: left; margin: 15px 0;}
.registernow{	color: #000; font-weight: bold; text-decoration: none; font-size: 0.9em; float: right; margin: 15px 0;}
	a{color: #e7e7e7; !important}
.smicons{float: left}
/*Media Query*/

@media only screen and (max-width: 320px) and (min-width: 350px)  {

.nov-container{    width: 300px;   }


	
}

}
/*Sign In Page End */

/* driver signup page strat*/

.logo{text-align: center; margin-top: 15px;}
.nov-login-container{ margin: 20px 0px; }
.heading{ font-size: 1.2em; font-weight: bold;}
.username{position: relative;}
.line{position: absolute;}
.signinbutton{  width: 230px;    height: 40px;    margin: 40px auto;    background: #2a3746;   line-height: 2.2em;   color: #e7e7e7;
    border-radius: 7px; text-align: center}
.usermobileno{position: relative; margin-top: 50px;}
.mblNoLbl{top: -35px !important; color: #2a3746 !important; font-size: 0.80em !important; }
.usermobileno label{ color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s;}
.usermobileno input[type=text]:focus:not([readonly])+label{    color: #2a3746;}
.usermobileno input[type=text]{background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);	}
.emailid{position: relative; margin-top: 50px;}
.emailLbl{top: -35px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.emailid label{color: rgb(188,188,188); position: absolute; top: 0px; transition: 0.5s;}
.emailid input[type=text]:focus:not([readonly])+label{color: #2a3746;}
.licensefile{margin-top: 40px;}
.chkboxtext{margin-top: 40px;}
.emailid input[type=text] {background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);	}
#menu-button{background: #e7e7e7; width: 50px; border-radius: 5px; position: relative; cursor: pointer; transition: all linear .3s; padding: 4px; z-index: 1;}
#menu-button.active{background: #e7e7e7;}
#line-1,#line-2,#line-3{width: 90%; background: #000; height: 8px; margin: 4px auto; border-radius: 2px; transition: all linear .3s;}
#line-1.active{-webkit-transform: translate(0px,12px) rotate(45deg); transform: translate(0px,12px) rotate(45deg);}
#line-2.active{opacity: 0;}
#line-3.active{-webkit-transform: translate(0px, -12px) rotate(-45deg); transform: translate(0px, -12px) rotate(-45deg);}
#menu{background: #fff; width: 150px; padding: 10px; padding-top: 30px; color: #2a3746; font-family: arial; font-size: 1.5rem; display: none; position: absolute; top: 8px; border-radius: 5px;}
#menu ul{list-style: none;}
#menu ul li{margin: 8px 0;}

/* driver signup page End*/

/* driver history page strat*/
.header{background-color: #2a3746; height: 80px;}
.headings{text-align: center; color: #e7e7e7;}
.section1{padding: 25px;}
.leftside{width: 50%; float: left;}
.rectangle1{width: 95%; height: 250px; background-color: #fff; margin: 0 auto; margin-top: 50px; border: 1px solid #000;}
.rectangle2{width: 95%; height: 250px; background-color: #fff; margin: 0 auto; margin-top: 50px; margin-bottom: 50px; border: 1px solid #000;}
.txt1{padding: 20px;}
.txt2{padding: 20px;}
.accept{margin-bottom: 20px;}
.rightside{float: right;}
.top2{float: right;}
.top1{margin-top: 10px; width: 50%;}


/* driver history page End*/

/*customer Sign Up Page Start*/
.Firstname {position: relative; margin-top: 50px; }
.fnameLbl{top: -35px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.Firstname  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s;}
.Firstname input[type=text]:focus:not([readonly])+label{    color: #2a3746;}
.Firstname input[type=text]{background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);}
.Lastname {position: relative; margin-top: 50px; }
.lNameLbl{top: -35px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.Lastname  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s;}
.Lastname input[type=text]:focus:not([readonly])+label{    color: #2a3746;}
.Lastname input[type=text]	{background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);	}
.register {  text-align: center; width: 230px;    height: 40px;    margin: 40px auto;    background: #2a3746;   line-height: 2.2em;   color: #fff;
    border-radius: 7px; border: none;}
	
/*customer Sign Up Page End */

/*Dashboard page*/
.popupBox{ width: 300px; height: 100px; text-align: center; border: 1px solid; margin: 200px auto;padding-top: 10px;}
.okBtn{background: #2a3746; color: #fff; margin-top: 10px; width: 50px; height: 30px; margin-left: 125px; padding: 5px; cursor: pointer;}