


/*Common Styles */
body,html{ margin: 0; padding: 0;}
body{    font-family: sans-serif;	background-color: #e7e7e7; 	background-attachment: fixed;	background-size: 100% 100%;background-position: center;}
/*Heading*/
.nov-h1{text-align: center; font-size: 1.2em;   font-weight: bold;}
.nov-container{    width: 340px;    margin: 0 auto;}
.clearfix{clear: both!important; float: none!important; }
.errormsg{ color: #d22525; font-size: 0.80em; padding-top: 5px;}
/*Common Styles End**/

/* customer Sign In Page Start*/
.logintitle{margin-top: 30px;}
.logoimg{text-align: center; }
.loginformCointainer{ margin: 20px 0px; }
.nov-h1{ font-size: 1.2em; font-weight: bold;}
.username {position: relative; margin-top: 40px; }
.usrNmLbl{top: -25px !important; color: #2a3746 !important;  font-size: 0.80em !important;}
.username  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s;}
.username input[type=text]	{background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);}

.password {position: relative; margin-top: 40px;}
.paswrdLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.password  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s;}
.password input[type=password]	{background: transparent; border: 0; outline: 0;  border-bottom: 1px solid rgb(188,188,188);	}
.b-Line{display: block;    width: 100%; line-height: 1.5; color: #000; border: 1px solid #ced4da;}
input:focus{border-bottom: 2px solid #2a3746 !important; font-size: 0.80em !important;}
.loginbutton{ text-align: center; width: 230px;    height: 40px;    margin: 0px auto;    background: #2a3746;   line-height: 2.2em;   color: #fff;  border-radius: 7px; border: none; margin-top: 25px;    margin-bottom: 25px;}
.socialMediaicons{ margin-top: 20px; width: 290px; margin-left: 95px;}
.signInWithTxt{ font-size: 12px; font-weight: bold; color: #000; text-align: center;}
.frgtpwrd  {	color: #000; font-weight: bold; text-decoration: none; font-size: 0.9em; float: left; margin: 15px 0;}
.registernow{	color: #000; font-weight: bold; text-decoration: none; font-size: 0.9em; float: right; margin: 15px 0;}
	a{color: #e7e7e7; !important}
/*Media Query*/

@media only screen and (max-width: 320px) and (min-width: 350px)  {

.nov-container{    width: 300px;   }	
}

/* customer Sign In Page End */


/*customer Sign Up Page Start*/
.Firstname {position: relative; margin-top: 40px; }
.fnameLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.Firstname  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s;}
.Firstname input[type=text]{background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);}
.Lastname {position: relative; margin-top: 40px; }
.lNameLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.Lastname  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s;}
.Lastname input[type=text]	{background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);	}
.register {  text-align: center; width: 230px;    height: 40px;    margin: 40px auto;    background: #2a3746;   line-height: 2.2em;   color: #fff; border-radius: 7px; border: none; }
	
/*customer Sign Up Page End */

/*Search page start*/
.map{ position: relative; width: 100%;}
.Search{ position: absolute;  top: 20px;  width: 80%; height: 40px; left: 10%; background: #2a3746; line-height: 2.2em; color: #fff; border-radius: 7px; border: none; padding-left: 20px;}
.ListItems{  position: absolute; top: 20px; width: 80%; left: 10%; height: 520px; background: #fff;  }
.close{padding:20px;}
.listcontent{padding: 30px;}
.from {position: relative; margin-top: 40px; }
.fromLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.from  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s;}
.from input[type=text]{background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);}
.to {position: relative; margin-top: 40px; }
.toLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.to  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s;}
.to input[type=text]	{background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);	}
.weight {position: relative; margin-top: 40px; }
.weightLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.weight  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s;}
.weight input[type=text]{background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);}
.price {position: relative; margin-top: 40px; }
.priceLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.price  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s;}
.price input[type=text]	{background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);	}
.ConfirmBtn{text-align: center; width: 230px;    height: 40px;    margin: 40px auto;    background: #2a3746;   line-height: 2.2em;   color: #fff; border-radius: 7px; border: none;}
.vehicleConfirmBtn{ position: absolute; margin-left: 500px !important; top: 0px;text-align: center; width: 230px;    height: 40px;    margin: 40px auto;    background: #2a3746;   line-height: 2.2em;   color: #fff; border-radius: 7px; margin-top: 500px;}
/*Search page end */

/*reset passwrd start*/
.newpassword {position: relative; margin-top: 40px;}
.newPaswrdLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.newpassword  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s;}
.newpassword input[type=password]	{background: transparent; border: 0; outline: 0;  border-bottom: 1px solid rgb(188,188,188);	}
.confirmpassword {position: relative; margin-top: 40px;}
.cinfirmPswrdLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.confirmpassword  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s;}
.confirmpassword input[type=password]	{background: transparent; border: 0; outline: 0;  border-bottom: 1px solid rgb(188,188,188);	}
.submitbtn{ text-align: center; width: 230px;    height: 40px;    margin: 40px auto;    background: #2a3746;   line-height: 2.2em;   color: #fff;
    border-radius: 7px; border: none;}
/*reset passwrd end*/

/*Dashboard page start*/
.popupcontent{ position: fixed; width: 80%; height: 135px; left: 10%;top: 160px; background-color: #fff; border: 1px solid #000;}
.popupBox{  padding: 20px; text-align: center;}
.okBtn{ text-align: center; width: 70px; height: 40px; background: #2a3746; line-height: 2.2em; color: #fff; border: none; margin: 0 auto; margin-top: 5px;}
/*Dashboard page* end*/

/*preview page start*/
.nov-prev-tripdt{margin-left: 32px;margin-top: 15px; float: left;}
.reqdetails{width: 95%; height: 200px; background-color: #fff; margin: 0 auto; margin-top: 50px; border: 1px solid #000;}
.paymentmethods{margin-top: 15px; float: left; margin-left: 32px;}
.Paymentmthd{width: 95%; height: 150px; background-color: #fff; margin: 0 auto; margin-top: 50px; border: 1px solid #000;}
.paytm{margin-top: 40px; margin-left: 20px;}
.cash{margin-top: 30px; margin-left: 20px;}
/*preview page end*/

/* driver signup page strat*/

.logo{text-align: center; margin-top: 15px;}
.nov-login-container{ margin: 20px 0px; }
.heading{ font-size: 1.2em; font-weight: bold;}
.username{position: relative;}
.line{position: absolute; }
.signinbutton{  width: 230px;    height: 40px;    margin: 40px auto;    background: #2a3746;   line-height: 2.2em;   color: #e7e7e7;
    border-radius: 7px; text-align: center}
.usermobileno{position: relative; margin-top: 40px;}
.mblNoLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important; }
.usermobileno label{ color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s; }
.usermobileno input[type=text]{background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);	}
.emailid{position: relative; margin-top: 50px;}
.emailLbl{top: -35px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.emailid label{color: rgb(188,188,188); position: absolute; top: 0px; transition: 0.5s; }
.licensefile{margin-top: 40px;}
.chkboxtext{margin-top: 40px;}
.emailid input[type=text] {background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);	}
/* driver signup page End*/

/* driver history page strat*/
.header{background-color: #2a3746; height: 60px;}
.headings{text-align: center; color: #e7e7e7; padding: 16px;}
.leftside{width: 50%; float: left;}
.rightside{float: left; width: 50%;}
.curreqdetails{width: 95%; height: 250px; background-color: #fff; margin: 0 auto; margin-top: 50px; border: 1px solid #000; position: relative;}
.pasreqdetails{width: 95%; height: 250px; background-color: #fff; margin: 0 auto; margin-top: 50px; border: 1px solid #000;}
.txt1{padding: 20px;}
.txt2{padding: 20px;}
.accept{  text-align: center; width: 200px;    height: 40px; background: #2a3746; line-height: 2.2em; color: #fff; border: none; margin-left: 20px;}
.decline{  text-align: center; width: 200px;    height: 40px; background: #2a3746; line-height: 2.2em; color: #fff; border: none;}
.top1{margin-top: 15px; float: left; margin-left: 32px; }
.top2{float: right; margin-top: 15px; margin-right: 32px;  }
.borderline{width: 100%; border-bottom: 2px solid #000; margin-top: 41px;}
.popupmsg{width: 80%; height: 300px; background-color: #fff; border: 1px solid #564a4a91; position: fixed; z-index: 999; left: 10%; right: 10%; top: 220px; text-align: center; box-shadow: 2px 2px 2px 2px #564a4a91;}
.msg{text-align:center; padding-top: 115px;}
.confirm{text-align: center; width: 200px; height: 40px; background: #2a3746; line-height: 2.6em; color: #fff; border: none; margin: 0 auto; margin-top: 5px;}
.overlay { position: fixed; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.5); z-index: 2; cursor: pointer;}

@media only screen and (max-width: 767px){
.accept , .decline{width:30%;}
.txt1 , .txt2{font-size: 0.8em;}
	
}
/* driver history page End*/


