.socialMediaicons{ margin-top: 20px; width: 290px; margin-left: 95px; cursor: pointer;}
.signInWithTxt{ font-size: 12px; font-weight: bold; color: #000; text-align: center;}
.frgtpwrd  {	color: #000; font-weight: bold; text-decoration: none; font-size: 0.9em; float: left; margin: 15px 0; cursor: pointer;}
.registernow{	color: #000; font-weight: bold; text-decoration: none; font-size: 0.9em; float: right; margin: 15px 0;cursor: pointer;}
	a{color: #e7e7e7; !important}
	
/*reset passwrd start*/
.newpassword {position: relative; margin-top: 40px;}
.newPaswrdLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.newpassword  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s; pointer-events: none;}
.newpassword input[type=password]	{background: transparent; border: 0; outline: 0;  border-bottom: 1px solid rgb(188,188,188);	}
.confirmpassword {position: relative; margin-top: 40px;}
.cinfirmPswrdLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.confirmpassword  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s; pointer-events: none;}
.confirmpassword input[type=password]	{background: transparent; border: 0; outline: 0;  border-bottom: 1px solid rgb(188,188,188);	}
.submitbtn{ text-align: center; width: 230px;    height: 40px;    margin: 40px auto;    background: #2a3746;   line-height: 2.2em;   color: #fff;
    border-radius: 7px; border: none; cursor: pointer;}
/*reset passwrd end*/	
	
/*Search page start*/
.map{ position: relative; width: 100%;}
.Search{ position: absolute;  top: 20px;  width: 80%; height: 40px; left: 10%; background: #2a3746;cursor: pointer; line-height: 2.2em; color: #fff; border-radius: 7px; border: none; padding-left: 20px;}
.ListItems{ cursor: pointer; position: absolute; top: 20px; width: 80%; left: 10%; height: 560px; background: #fff; border: 1px solid #00000069; }
.close{padding:20px;}
.listcontent{padding: 30px;}
.from {position: relative; margin-top: 40px; }
.fromLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.from  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s; pointer-events: none;}
.from input[type=text]{background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);}
.to {position: relative; margin-top: 60px; }
.toLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.to  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s; pointer-events: none;}
.to input[type=text]	{background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);	}
.weight {position: relative; margin-top: 60px; }
.weightLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.weight  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s; pointer-events: none;}
.weight input[type=text]{background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);}
.price {position: relative; margin-top: 60px; }
.priceLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.price  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s; pointer-events: none;}
.price input[type=text]	{background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);	}
.ConfirmBtn{text-align: center; width: 230px;    height: 40px;    margin: 40px auto;    background: #2a3746;   line-height: 2.2em; cursor: pointer;  color: #fff; border-radius: 7px; border: none;}
.vehicleConfirmBtn{ position: absolute; margin-left: 500px !important; top: 0px;text-align: center; width: 230px;    height: 40px;  cursor: pointer;  margin: 40px auto;    background: #2a3746;   line-height: 2.2em;   color: #fff; border-radius: 7px; margin-top: 500px;}
/*Search page end */

/*preview page start*/
.nov-prev-tripdt{margin-left: 30px; margin-top: 20px; }
.reqdetails{margin-top: 15px;  height: 215px;   padding-bottom: 10px;   background: #dbdad8 ;  border: 2px solid #bfbdbd; border-radius: 5px; -webkit-border-radius: 5px;}
.leftside{float: left; width: 50%;}
.rightside{float: left; width: 50%;}
.paymentmethods{ float: left;margin-left: 30px; margin-top: 20px;  }
.Paymentmthd{ height: 80px; background-color: #dbdad8;  margin-top: 50px; border: 2px solid #bfbdbd; border-radius: 5px; -webkit-border-radius: 5px;}
.paytm{float: left; width: 50%; cursor: pointer;}
.cash{float: left; width: 50%; cursor: pointer;}
/*preview page end*/

/*customer customer yourtrips start*/
.arroeimg{float: left; margin-left: 15px;  }
.nov-tripdt-container{padding-left: 15px; padding-right: 15px; margin-top: 15px;}
.pasttripdt{ margin-top: 15px;     padding-bottom: 10px;   background: #dbdad8 ;  border: 2px solid #bfbdbd; border-radius: 5px; -webkit-border-radius: 5px;}
.upcomingTripdt{ margin-top: 15px;     padding-bottom: 10px;   background: #dbdad8 ;  border: 2px solid #bfbdbd; border-radius: 5px; -webkit-border-radius: 5px;}
.leftInfo{    width: 50%;    float: left; padding-left: 10px;    padding-top: 10px; }
.rightInfo{    width: 50%;    float: left;padding-left: 10px;    padding-top: 10px; }
/*customer customer yourtrips start*/

/*customer Account settings start*/
.userimgicon{margin-left: 20px; margin-top: 30px; float: left;}
.profiledt{float: left; padding: 35px;}
.nov-ac-part2{margin-top: 120px; margin-left: 20px}
.homeimg{width: 25px; float: left;}
.hometxt{margin-left: 35px;  margin-top: 15px; font-size: 0.90em; cursor: pointer;}
.workimg{width: 25px; float: left;}
.addwrktxt{margin-left: 35px;  margin-top: 25px; cursor: pointer;}
.addmoreplace{ margin-top: 25px; cursor: pointer;}
.nov-ac-part3{margin-top: 25px; margin-left: 20px}
.addbp{margin-top: 15px; font-size: 0.90em; cursor: pointer;}
.privacyset{margin-left: 20px; margin-top: 25px; cursor: pointer;}
.Signout{margin-left: 20px; margin-top: 25px; cursor: pointer;}
/*customer Account settings end*/	

/*customer privacy settings start*/
.nov-heading{ width: 100%; height: 50px; background:  #2a3746}
.location-hd{margin-left: 20px; margin-top: 50px; }
.below-txt1{margin-left: 20px; margin-top: 15px; color: #80808073;}
.contact-hd{margin-left: 20px; margin-top: 50px;}
.below-txt2{margin-left: 20px; margin-top: 15px; color: #80808073;}
.Notifications-hd{margin-left: 20px; margin-top: 50px;}
.below-txt3{margin-left: 20px; margin-top: 15px; color: #80808073;}
/*customer privacy settings end*/