.socialMediaicons{ margin-top: 20px; width: 290px; margin-left: 95px; cursor: pointer;}
.signInWithTxt{ font-size: 12px; font-weight: bold; color: #000; text-align: center;}
.frgtpwrd  {	color: #000; font-weight: bold; text-decoration: none; font-size: 0.9em; float: left; margin: 15px 0; cursor: pointer;}
.registernow{	color: #000; font-weight: bold; text-decoration: none; font-size: 0.9em; float: right; margin: 15px 0;cursor: pointer;}
	a{color: #e7e7e7; !important}
	
/*reset passwrd start*/
.newpassword {position: relative; margin-top: 40px;}
.newPaswrdLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.newpassword  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s; pointer-events: none;}
.newpassword input[type=password]	{background: transparent; border: 0; outline: 0;  border-bottom: 1px solid rgb(188,188,188);	}
.confirmpassword {position: relative; margin-top: 40px;}
.cinfirmPswrdLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.confirmpassword  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s; pointer-events: none;}
.confirmpassword input[type=password]	{background: transparent; border: 0; outline: 0;  border-bottom: 1px solid rgb(188,188,188);	}
.submitbtn{ text-align: center; width: 230px;    height: 40px;    margin: 40px auto;    background: #2a3746;   line-height: 2.5em;   color: #fff;
    border-radius: 7px; border: none; cursor: pointer;}
/*reset passwrd end*/

/* menu page start*/

a { text-decoration: none; }
a i { font: 0/0 a; text-shadow: none; color: transparent;}
nav { background-color: #fff; height: 100%; position: fixed;left: -300px; top: 30px; -moz-transition: left 0.2s linear; -o-transition: left 0.2s linear; -webkit-transition: left 1s ease; transition: left 1s ease; width: 300px;z-index: 9001;}
nav #menuToggle { display: block; position: fixed; height: 30px; left: 0; top: 0; width: 40px;}
nav #menuToggle span { background: #000; display: block; height: 10%; left: 10%; position: absolute; top: 45%; width: 60%;}
nav #menuToggle span:before,
nav #menuToggle span:after { background: #000; content: ''; display: block; height: 100%;position: absolute;top: -250%;-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);-webkit-transform: rotate(0deg);transform: rotate(0deg); width: 100%;}
nav #menuToggle span:after { top: 250%; }
nav a:nth-child(n+2) {color: #000; display: block; font-size: 1.2em; padding: 10px;}
nav a:nth-child(n+2):hover{background-color: gray;}
nav a:nth-child(n+2):hover:after { width: 100%; }
.open { left: 0; top: 30px}
.open #menuToggle span { background: transparent; left: 10%; top: 45%;}
.open #menuToggle span:before,
.open #menuToggle span:after { background: #000; top: 0;-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-webkit-transform: rotate(45deg);transform: rotate(45deg);}

.open #menuToggle span:after { -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transform: rotate(-45deg);}

#menuToggle .navClosed { -moz-transition: background 0.1s linear;-o-transition: background 0.1s linear; -webkit-transition: background 0.1s linear; transition: background 0.1s linear;}

#menuToggle .navClosed:before,
#menuToggle .navClosed:after { -moz-transition: top 0.2s linear 0.1s, -moz-transform 0.2s linear 0.1s; -o-transition: top 0.2s linear 0.1s, -o-transform 0.2s linear 0.1s; -webkit-transition: top 0.2s linear, -webkit-transform 0.2s linear;-webkit-transition-delay: 0.1s, 0.1s; transition: top 0.2s linear 0.1s, transform 0.2s linear 0.1s}

#menuToggle .navOpen {-moz-transition: background 0.1s linear 0.2s; -o-transition: background 0.1s linear 0.2s; -webkit-transition: background 0.1s linear; -webkit-transition-delay: 0.2s;transition: background 0.1s linear 0.2s;}

#menuToggle .navOpen:before,
#menuToggle .navOpen:after {
  -moz-transition: top 0.2s linear, -moz-transform 0.2s linear;
  -o-transition: top 0.2s linear, -o-transform 0.2s linear;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s linear;
  transition: top 0.2s linear, transform 0.2s linear;
}
/* menu page end*/	
	
/*Search page start*/
.map{ position: relative; width: 100%;}
.Search{ position: absolute;  top: 20px;  width: 80%; height: 40px; left: 10%; background: #2a3746;cursor: pointer; line-height: 2.5em; color: #fff; border-radius: 7px; border: none; padding-left: 20px;}
.ListItems{ cursor: pointer; position: absolute; top: 20px; width: 80%; left: 10%; height: 560px; background: #fff; border: 1px solid #00000069; }
.close{padding:20px;}
.listcontent{padding: 30px;}
.from {position: relative; margin-top: 40px; }
.fromLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.from  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s; pointer-events: none;}
.from input[type=text]{background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);}
.to {position: relative; margin-top: 60px; }
.toLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.to  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s; pointer-events: none;}
.to input[type=text]	{background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);	}
.weight {position: relative; margin-top: 60px; }
.weightLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.weight  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s; pointer-events: none;}
.weight input[type=text]{background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);}
.price {position: relative; margin-top: 60px; }
.priceLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.price  label{	color: rgb(188,188,188) ; position: absolute; top: 0px; transition: 0.5s; pointer-events: none;}
.price input[type=text]	{background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);	}
.ConfirmBtn{text-align: center; width: 230px;    height: 40px;    margin: 40px auto;    background: #2a3746;   line-height: 2.5em; cursor: pointer;  color: #fff; border-radius: 7px; border: none;}
.vehicleConfirmBtn{ position: absolute; margin-left: 500px !important; top: 0px;text-align: center; width: 230px;    height: 40px;  cursor: pointer;  margin: 40px auto;    background: #2a3746;   line-height: 2.5em;   color: #fff; border-radius: 7px; margin-top: 500px;}
/*Search page end */

/*preview page start*/
.nov-prevdt-container, .nov-prev-tripdt{padding-left: 15px; padding-right: 15px; margin-top: 15px;}
.paymentheading{ padding-right: 15px; margin-top: 15px;}
.reqdetails, .Paymentmthd{ margin-top: 15px;     padding-bottom: 10px;   background: #dbdad8 ;  border: 2px solid #00000069; border-radius: 5px; -webkit-border-radius: 5px;}
.Paymentmthd{ margin-top: 15px;     padding-bottom: 10px;   background: #dbdad8 ;  border: 2px solid #00000069; border-radius: 5px; -webkit-border-radius: 5px;}
.leftside, .rightside{float: left; width: 50%;  padding-left: 10px;    padding-top: 10px;}
.rightside{float: left; width: 50%;  padding-left: 10px;    padding-top: 10px;}
.paytm{float: left; width: 50%; cursor: pointer;  padding-left: 10px;    padding-top: 10px;}
.cash{float: left; width: 50%; cursor: pointer; padding-left: 10px;    padding-top: 10px;}
/*preview page end*/

/*customer  yourtrips start*/
.tripLbl{width:140px; float: left;}
.lbl-colon{float: right; font-weight: bold;}
.bottomline{border-bottom: 2px solid #00000069;  margin-top: 41px;}
.arroeimg{float: left; margin-left: 15px; margin-top: 15px; width: 20px;}
.nov-tripdt-container{padding-left: 15px; padding-right: 15px; margin-top: 15px;}
.pasttripdt, .upcomingTripdt{ margin-top: 15px;     padding-bottom: 10px;   background: #dbdad8 ;  border: 2px solid #00000069; border-radius: 5px; -webkit-border-radius: 5px;}
.leftInfo, .rightInfo{    width: 50%;    float: left; padding-left: 10px;    padding-top: 10px; }
/*customer yourtrips start*/

/*customer Account settings start*/
.userimgicon{margin-left: 20px; margin-top: 30px; float: left;}
.profiledt{float: left; padding: 35px;}
.nov-ac-part2{margin-top: 120px; margin-left: 20px}
.homeimg{width: 25px; float: left;}
.hometxt{margin-left: 35px;  margin-top: 15px; font-size: 0.90em; cursor: pointer;}
.workimg{width: 25px; float: left;}
.addwrktxt{margin-left: 35px;  margin-top: 20px; font-size: 0.90em; cursor: pointer;}
.addmoreplace{ margin-top: 25px; cursor: pointer;}
.nov-ac-part3{margin-top: 25px; margin-left: 20px}
.addbp{margin-top: 15px; font-size: 0.90em; cursor: pointer;}
.privacyset{margin-left: 20px; margin-top: 25px; cursor: pointer;}
.Signout{margin-left: 20px; margin-top: 25px; cursor: pointer;}
/*customer Account settings end*/	

/*customer privacy settings start*/
.nov-heading{ width: 100%; height: 50px; background:  #2a3746}
.location-hd{margin-left: 20px; margin-top: 50px; }
.below-txt1{margin-left: 20px; margin-top: 15px; color: #80808073;}
.contact-hd{margin-left: 20px; margin-top: 50px;}
.below-txt2{margin-left: 20px; margin-top: 15px; color: #80808073;}
.Notifications-hd{margin-left: 20px; margin-top: 50px;}
.below-txt3{margin-left: 20px; margin-top: 15px; color: #80808073;}
/*customer privacy settings end*/

/*customer payment start*/
.paytmimg{width: 40px; float: left;}
.paytmtxt{padding-left: 60px; padding-top: 10px;}
.nov-payment-paytm, .nov-payment-cash{ margin-top: 40px; margin-left: 20px; cursor: pointer;}
.cashimg{width: 40px; float: left;}
.cashtxt{padding-left: 60px; padding-top: 10px; }
/*customer payment end*/

/* customer settings page start*/
.address{position: relative;}
.addressLbl{top: -25px !important; color: #2a3746 !important; font-size: 0.80em !important;}
.address label{color: rgb(188,188,188); position: absolute; top: 0px; transition: 0.5s; pointer-events: none; }
.address input[type=text] {background: transparent; border: 0; outline: 0; border-bottom: 1px solid rgb(188,188,188);	}
.borderline{display: block;    width: 100%; line-height: 1.5; color: #000; border: 1px solid #ced4da;}
.fa{float: right;}
.settingpage{padding: 0px 15px;}
/* customer settings page End*/
