body,html{ margin: 0; padding: 0;}
body{
	background-color: #e7e7e7; 
	background-attachment: fixed;
	background-size: 100% 100%;
	background-position: center;
	font-family: Open Sans semi-bold;
}
.body{
	width: 758px; margin: 0 auto; 
}
.heading{
	text-align: center; font-size: 18px; font-weight: bold; margin-top: 15px;
}
.logopart{
	text-align: center; margin-top: 15px;
}
.Signin{
	margin-top: 15px; font-size: 18px; font-weight: bold;
}
.feild{
	width: 50%; margin: 0 auto; margin-top: 15px !important; 
}
.md-form input[type=text]{
	border-bottom: 1px solid rgb(188,188,188) !important; 
}
.md-form  label{
	color: rgb(188,188,188) !important; 
}
.btext{
	margin-top: 15px; font-size: 12px; font-weight: bold; color: #000; text-align: center;
}
.bottomlogopart{
	text-align: center;
}
.btn-floating{
	border-radius: 10px !important;
}
.bottomlogo{
	margin-top: 15px;
}
.frgtpwrd  a{
	color: #000; font-weight: bold; text-decoration: none; font-size: 12px; float: left; margin: 15px 0;
}
.register a{
	color: #000; font-weight: bold; text-decoration: none; font-size: 12px; float: right; margin: 15px 0;
}
.loginbutton{
	margin-top: 15px; text-align: center;
}
.waves-effect.btn{
	font-size: 12px !important; padding: 10px 80px 10px 80px !important; 
}
.waves-light{
	background-color: #2a3746 !important; color: #e7e7e7 !important; 
}
.waves-effect{
	border-radius: 10px !important; text-transform: none !important; 
}